In [1]:
%load_ext autoreload
%autoreload 2

In [109]:
from weibull_model_football_scores.probs.weibull import weibull_likelihood

In [62]:
import pandas as pd
from weibull_model_football_scores.ingestion import load_data, load_prediction_dataset
from weibull_model_football_scores.model import WeibullCountFitter

In [290]:
df = load_data(league="seriea", season="22_23")

In [291]:
w = WeibullCountFitter()

In [292]:
w.fit(df, learning_rate=0.01)

Starting likelihood: -968.3759187580912
Step 1, current likelihood: -915.4723578542689
Step 2, current likelihood: -877.4171978184139
Step 3, current likelihood: -846.2178377418809
Step 4, current likelihood: -821.0303653103468
Step 5, current likelihood: -800.9233157954815
Step 6, current likelihood: -784.8814368503621
Step 7, current likelihood: -771.9794286281855
Step 8, current likelihood: -761.5639227591539
Step 9, current likelihood: -753.2378117759376
Step 10, current likelihood: -746.7250357753642
Step 11, current likelihood: -741.7785679990518
Step 12, current likelihood: -738.1344847479329
Step 13, current likelihood: -735.5036677886784
Step 14, current likelihood: -733.6133379259301
Step 15, current likelihood: -732.2525818469535
Step 16, current likelihood: -731.2712827826017
Step 17, current likelihood: -730.5622394974577
Step 18, current likelihood: -730.0489707039247
Step 19, current likelihood: -729.6770914869882
Step 20, current likelihood: -729.4077719360695
Step 21, current likelihood: -729.2130369490153
Step 22, current likelihood: -729.0725505671295
Step 23, current likelihood: -728.9714474062139
Step 24, current likelihood: -728.898846548944
Step 25, current likelihood: -728.8468001245399
Step 26, current likelihood: -728.8095268539952
Step 27, current likelihood: -728.7828422717089
Step 28, current likelihood: -728.7637323220237
Step 29, current likelihood: -728.7500349768243
Step 30, current likelihood: -728.7402042309253
Step 31, current likelihood: -728.733136897572
Step 32, current likelihood: -728.7280465697645
Step 33, current likelihood: -728.7243727436008
Step 34, current likelihood: -728.7217156648646
Step 35, current likelihood: -728.7197898933694
Step 36, current likelihood: -728.7183912644764
Step 37, current likelihood: -728.717373446697
Step 38, current likelihood: -728.7166313436702
Early stop. Algorithm has converged

In [294]:
w.C_team.sort_values("alpha", ascending=False)

           team     alpha      beta
6        Napoli  1.704115 -0.090192
19        Inter  1.074923  0.357488
5      Atalanta  0.992821  0.349205
18        Milan  0.991653  0.598248
4      Juventus  0.963635  0.205228
3         Lazio  0.880137  0.051723
17      Udinese  0.790812  0.418882
14     Sassuolo  0.677321  0.676303
15      Bologna  0.651276  0.556134
0          Roma  0.644389  0.134962
10  Salernitana  0.572575  0.916488
8        Torino  0.530845  0.375087
9         Monza  0.441871  0.623869
7    Fiorentina  0.419522  0.394511
2         Lecce  0.367360  0.425258
13       Empoli  0.340635  0.525140
11    Cremonese  0.293952  1.042949
12       Verona  0.201051  0.806234
1        Spezia  0.159115  0.774380
16    Sampdoria  0.031005  0.861083

In [295]:
w.C_team.sort_values("beta", ascending=True)

           team     alpha      beta
6        Napoli  1.704115 -0.090192
3         Lazio  0.880137  0.051723
0          Roma  0.644389  0.134962
4      Juventus  0.963635  0.205228
5      Atalanta  0.992821  0.349205
19        Inter  1.074923  0.357488
8        Torino  0.530845  0.375087
7    Fiorentina  0.419522  0.394511
17      Udinese  0.790812  0.418882
2         Lecce  0.367360  0.425258
13       Empoli  0.340635  0.525140
15      Bologna  0.651276  0.556134
18        Milan  0.991653  0.598248
9         Monza  0.441871  0.623869
14     Sassuolo  0.677321  0.676303
1        Spezia  0.159115  0.774380
12       Verona  0.201051  0.806234
16    Sampdoria  0.031005  0.861083
10  Salernitana  0.572575  0.916488
11    Cremonese  0.293952  1.042949

In [296]:
#cProfile.run('w.fit(df, n_iter=4)')

In [297]:
X = load_prediction_dataset(league="seriea", season="22_23")

In [298]:
preds = w.predict(X, how="under_over")

In [299]:
X.join(preds)

,Nation,League,Date,Month,Year,Home,Away,under,over
0,Italy,Serie A,2,4,2023,Roma,Sampdoria,0.706034,0.293966
1,Italy,Serie A,2,4,2023,Bologna,Udinese,0.492295,0.507705
2,Italy,Serie A,2,4,2023,Cremonese,Atalanta,0.421488,0.578512
3,Italy,Serie A,2,4,2023,Empoli,Lecce,0.699548,0.300452
4,Italy,Serie A,2,4,2023,Inter,Fiorentina,0.544647,0.455353
...,...,...,...,...,...,...,...,...,...
105,Italy,Serie A,4,6,2023,Lecce,Bologna,0.604473,0.395527
106,Italy,Serie A,4,6,2023,Napoli,Sampdoria,0.499149,0.500851
107,Italy,Serie A,4,6,2023,Sassuolo,Fiorentina,0.559790,0.440210
108,Italy,Serie A,4,6,2023,Torino,Inter,0.510504,0.489496
109,Italy,Serie A,4,6,2023,Udinese,Juventus,0.501371,0.498629